// Define variables for your color scheme

// For example:
$red: #a51c47;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #ff8300;
$green: #32B796;
$gray: #000000;
$dark-gray: #4c4848;
$light-gray: #F4F4F4;
$main-color: pink;
